body {
	font-family: "Gill Sans", sans-serif;
	background: #333 url(../img/background.png) no-repeat 0 0;
	background-size: cover;
	color: #fff;
	text-align: center;
}

.title {
	font-weight: 200;
	text-align: center;
}

#chart {
	-webkit-mask: -webkit-linear-gradient(left, rgba(0,0,0,0) 10%,rgba(0,0,0,1) 30%,rgba(0,0,0,1) 70%,rgba(0,0,0,0) 90%);
	-webkit-filter: blur(4px);
}